@import "var.scss";

* {
	margin: 0;
	padding: 0;
}

html {
	background-color: $background-color-purple;
	color: $color-white;
	font-family: $font-family;
}

p {
	font-size: $font-size-p;
}
main {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	.frases {
		width: 50%;
		height: 30%;
		background-color: $background-color-blue;
		border-radius: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1vw 2vw;
		transition: transform 0.2s, box-shadow 0.2s, background-color 0.1s;
		color: rgba(252, 229, 238, 0.541);
		&:hover {
			@include shadow();
			color: $color-white;
			i {
				color: $color-white;
			}
		}
		.p {
			font-size: $font-size-p;
			text-align: justify;
			width: 100%;
		}
	}
	.pesquisa {
		width: 14vw;
		display: flex;
		justify-content: space-evenly;
		button {
			padding: 2vw;
			font-size: $font-size-p;
			border: none;
			user-select: none;
			border-radius: 50px;
			background-color: rgba(252, 229, 238, 0.801);
			color: $color-black;
			transition: all 0.1s;
			&:hover {
				@include shadow();
				transform: translateY(-0.4vw);
				background-color: $color-white;
				user-select: none;
			}
			&:active {
				transform: translateY(-0.8vw);
				background-color: rgb(255, 212, 147);
				animation: 1s scale;
				user-select: none;
			}
		}
	}

	h1 {
		white-space: nowrap;
		font-family: monospace;
		width: 14ch;

		font-size: $font-size-h1;

		font-weight: 900;

		overflow: hidden;
		animation: write 1.5s steps(14, end) forwards;
	}

	@keyframes write {
		0% {
			width: 0;
		}
	}
}

@media only screen and (max-width: 1000px) {
	main {
		h1 {
			font-size: $font-size-Hiper;
		}
		.frases {
			width: 80%;
			height: 40%;
			padding: 5vw;			
			.p{
				font-size: 3vw;
			}
		}
		.pesquisa {
			button {
				font-size: 5vw;
			}
		}
	}
}
@media only screen and (max-width: 800px) {
	main {
		user-select: none;
		h1 {
			font-size: 11vw;
			user-select: none;
		}
		.frases {
			width: 80%;
			height: 40%;
			color: $color-white;
			&:hover{
				transform: translateY(0);
				box-shadow: none;
				cursor: auto;
			}
			.p{
				user-select: all;
				font-size: 4vw;
				color: $color-white;
			}
		}
		.pesquisa {
			button {
				font-size: 5vw;
				padding: 3vw;
				user-select: none;
			}
		}
	}
}

