$color-white: rgb(252, 229, 238);
$color-black: rgb(8, 2, 19);
$font-family: "Moderustic",arial, sans-serif;
$font-size-Hiper: 10vw;
$font-size-h1: 6vw;
$font-size-p: 1.7vw;
$font-size-legend: 1vw;
$background-color-purple: #292553;
$background-color-blue: rgb(9, 8, 43);

@mixin shadow() {
	transform: translateY(-1vw);
	box-shadow: 1vw 1vw 0vw 0vw $color-black;
	cursor: pointer;
}
